# --- Configuração de Base de Dados (Docker Interno) ---
POSTGRES_DB=erp_db
POSTGRES_USER=erp_user
POSTGRES_PASSWORD=erp_pass
DATABASE_HOST=db
DATABASE_PORT=5432

# --- Configuração Django ---
SECRET_KEY=sua_chave_secreta_aqui
DEBUG=0
ALLOWED_HOSTS=localhost,127.0.0.1,seu_dominio.com

# --- URL do Sistema (Importante para Emails/Links) ---
SITE_URL=http://localhost

# --- Web Push (VAPID) ---
VAPID_PUBLIC_KEY=BD6WfUEiK7OuXBG_gc7yNfvu0ai6cTFO0Tnk8QLNk2iY57oRXEUM2tmsxanjCm9r-opO2EZk8Xxpqd0-gs0TdKE
VAPID_PRIVATE_KEY=tPw_gdoCzNUFymgWibgmh5Gu9_5kQIrRPj7Bm0oHEbo
VAPID_CLAIM_EMAIL=geral@engconsult-ao.com
